absl-py
asgiref
astunparse
cachetools
certifi
chardet
codetiming
defusedxml
diff-match-patch
Django==3.2.4
django-background-tasks
django-compat
django-filter
django-import-export
djangorestframework
et-xmlfile
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
keras
Keras-Preprocessing
libclang
Markdown
MarkupPy
numpy
oauthlib
odfpy
opencv-python
openpyxl
opt-einsum
Pillow
protobuf
pyasn1
pyasn1-modules
pytz
PyYAML
requests
requests-oauthlib
rsa
six
sqlparse
tablib
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
typing-extensions
urllib3
Werkzeug
wrapt
xlrd
xlwt
